<VirtualHost *:{{ apache_port }}>
    DocumentRoot "/var/www/shopware.prod/public"
    ServerName shopware.prod
    SetEnv TENANT_ID 20080911ffff4fffafffffff19830531
    <Directory "/var/www/shopware.prod/public">
        AllowOverride Alls
    </Directory>
</VirtualHost>
